# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

# Build outputs
/build
/app/build
/captures
*.apk

# Signing files (CRITICAL: Do not upload your keys)
*.jks
*.keystore

# Local configuration
local.properties
gradle.properties
